diffusers==0.27.0
transformers==4.38.2
huggingface-hub==0.25.2
accelerate==0.34.2
peft==0.9.0
mmengine==0.10.7
numpy==1.26.4
safetensors==0.6.2
pillow==11.3.0
tokenizers==0.15.2
importlib-metadata>=8,<9
rich>=13,<15
termcolor>=2,<4
yapf>=0.40,<1
platformdirs>=4,<5
